@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if(_signInManager.IsSignedIn(User))
{
    <strong>@User.Identity.Name</strong> 
    <span> | </span>
    <a class="ms-2" asp-action="Logout" asp-controller="Account">Logout</a>
}
else
{
    <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Login</a>
    <a class="btn btn-outline-primary ms-2" asp-action="SignUp" asp-controller="Account">SignUp</a>  
}
