@model UserRegistrationModel

<div class="container" style="min-height:80vh;">

    <h1 class="text-center mb-4">Sign Up</h1> 

    <form method="post" asp-action="SignUp" asp-controller="Account">

        <div class="col-md-5 col-12 ms-auto me-auto">   
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="FirstName" class="form-control" id="FirstNameInput" placeholder="Owajeul">
                <label for="FirstNameInput">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-2">
                <input asp-for="LastName" class="form-control" placeholder="Islam">
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Email" class="form-control" placeholder="name@example.com">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="Password" class="form-control" placeholder="Password">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-2">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Password">
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-primary py-3 w-100">Submit</button>
        </div>
    </form>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
